<dir class="container" style="margin:100px auto">
    <div class="row">
        <div class="colm">
            <h4>agregar una novedad</h4>
            <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data">
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Titulo" name="titulo">
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="subtitulo" name="subtitulo">
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="cuerpo" name="cuerpo">
                </div>
                <div class="mb-3 row">
                    <label>Imagen: <input type="file" name="imagen" id="imagen"/></label>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if error}}
                {{message}}
            {{/if}}
        </div>
    </div>
</dir>