.fondo_main{
    background-color: rgba(102, 67, 255, 0.166);
    padding: 15px;
}

.void_h2 {
    color: white;
    margin-left: 10%;
    padding: 5px;
    border: #381257 solid 1px;
    border-radius: 5px;
    width: 10%;
    background-color: rgb(11, 21, 77);
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px aurto;
}

.parrafo{
    border: white solid 1px;
    border-radius: 5px;
    width: 220px;
    padding: 15px;

    color: violet;
}

.void_enemy img{
    width: 300px;
    padding: 15px;
}

.imagen{
    border: #ffffff solid 1px;
    border-radius: 5px;
    color: #ffffff;
    padding: 15px;
}

h3{
    color: blueviolet;
    border: white 1px solid;
    border-radius: 5px;
    width: 150px;
    
}
